body {
    background-color: rgb(62, 64, 68);
    color: white;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: cursive;
}

nav ul{
    padding-left: 0;
    padding-top: 10px;
    text-align: left;
}

nav li{
    display: inline-block;
    width: calc(10% - 16px);
    max-width: 180px;
    text-align: center;
    margin-right: 25px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

h1{
    font-size: 60px;
}

#elsofeladat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#masodikfeladat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#harmadikfeladat #kollegak{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

main {
    max-width: 800px;
    width: 80%;
    margin-top: 0;
    margin: auto;
}

img {
    max-width: 300px;
    width: 50%;
}

#masodikfeladat{
    text-align: left;
}

#masodikfeladat h1, #harmadikfeladat h1{
    border-bottom: 1px solid red;
}

#masodikfeladat img{
    margin-top: 20%;
    width: auto;
    max-width: 300px;;
}

#harmadikfeladat img{
    max-width: 250px;
    max-height: 120px;
    width: 70%;
    border-radius: 50%;
}

#harmfejl{
    max-width: 500px;
    width: 80%;
    margin: auto;
}

button{
    color: white;
    background-color: rgb(49, 49, 133);
    border: none;
    padding: 20px;
}

#kozepso {
    border-left: 2px solid rgb(221, 44, 74);
    border-right: 2px solid rgb(221, 44, 74);
}


.doboz li{
    list-style-type: none;
    text-align: left;
}


.doboz li::before{
    content: "\27A4";
    color: rgb(255, 60, 0);
    margin-right: 10px;
}

.doboz{
    padding: 15px;
}

/*töréspontok megadása*/

@media screen and (max-width: 1350px){
    nav{
        padding: 0;
        margin: 0;
    }

    nav ul{
        padding: 0;
        margin: 0;
    }
    
    nav li{
        max-width: 100%;
        width: 100%;     
        font-size: 6vw;
    }
}

@media screen and (max-width: 600px) {
    nav li{
        max-width: 100%;
        width: 100%;        
        font-size: 6vw;

    }

    main {
        max-width: 100%;
        width: 100%;
        font-size: 6vw;
        grid-template-columns: 1fr 1fr;
    }

    .doboz{
        height: 100vh;
    }
}

@media screen and (max-width: 300px) {
    nav li{
        max-width: 100%;
        width: 100%;     
        font-size: 4vw;
    }

    main {
        font-size: 10vw;
        grid-template-columns: 1fr;
    }
}